#inicio{
  min-height: 100vh;
  background:
    url("../img/app/start-bg-layer-02.gif") top center no-repeat,
    url("../img/app/start-bg-layer-01.gif") top center no-repeat;
  @include media-breakpoint-up(md){
    background-size: cover, cover;
  }
  h1, h2{
    text-align: center;
  }
  h1{
    margin: 0 0 8.75rem;
    padding: 8.75rem 0 0;    

    img{
      max-width: 100%
    }
  }
  .bt-simulador{
    margin-bottom: 4.1875rem
  }
  h2{
    margin: 11.5625rem 0 9.0625rem;
    img{
      max-width: 100%;
    }
  }
}