.estrutura-blog{
  .post{
    margin-bottom: 3rem;

    h3{
      font-weight: 400;
    }
    p{
     a.btn-link{
       border: 2px solid $cor-primaria;
       padding: 0.625rem 1.25rem;
       background-color: #FFF;
     } 
    }
  }
}