.banner{
  padding: 3.125rem 0;
  background: white url('../img/banner-bg-min.jpg') top center;
  background-size: cover;
  color: white;
  
  h2{
    font-size: 5rem;
    line-height: 4.6875rem;
  }
  p{
    line-height: 1.875rem; 
  }
}